// primary color
$color-primary: #22a0ea;
$color-primary-light: #58b7ff;
$color-primary-dark: #1d8ce0;

$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;

$color-black: #1f2d3d;
$color-black-light: #324057;
$color-black-exact-light: #475669;

$color-silver: #8492a6;
$color-silver-light: #99a9bf;
$color-silver-exact-light: #c0ccda;

$color-gray: #d3dce6;
$color-gray-light: #e5e9f2;
$color-gray-exact-light: #eff2f7;

$color-white: #fff;
$color-white-dark: #f9fafc;
